// Specific CSS for your home-page
.main-wrapper-home {
  width: 90%;
  justify-self: center;
  align-self: center;
  margin-left: 5%
}

.homepage_spacer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
