// Import page-specific CSS files here.
@import "home";
@import "search";



h1 {
  font-family: Space Grotesk;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.05px;
  margin-bottom: 0px;
}

h2 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px; /* 150% */
  letter-spacing: 0.05px;
  margin-bottom: 0px;

}

h3 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px; /* 150% */
  letter-spacing: 0.05px;
  margin-bottom: 0px;
}

h4 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.05px;
  margin-bottom: 0px;
}

h5 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.05px;
  margin-bottom: 0px;
}

h6 {
  font-family: Poppins;
  color: var(--m-3-sys-light-on-surface, #1D1B20);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.05px;
  margin-bottom: 0px;
}


p {
  font-family: Poppins;
  font-size: 14px;
  margin-bottom: 0px;
  letter-spacing: 0.05px;
  line-height: normal;

}
