<div class= "label_container">
  <% @topics.each do |topic| %>
    <button class= "label_inactive clickable" data-search-demonstrations-target="topic" data-action="click->search-demonstrations#topic" >
     <%=topic.name%>
    </button>
  <% end %>


  <% @types.each do |type| %>
    <button class= "label_inactive clickable" data-search-demonstrations-target="type" data-action="click->search-demonstrations#type" >
      <%=type.name%>
    </button>
  <% end %>
</div>
  