<div class="grid_location_time">
  <div class="container_time_place">
  <i class="fa-regular fa-calendar"></i>
  <p><strong><%= demonstration.start_time.strftime("%A")%></strong>
    <%= demonstration.start_time.strftime(", %d %B %Y, %H:%M")%> - <%= demonstration.end_time.strftime("%H:%M")%></p>
  </div>
  <div class="container_time_place">
    <i class="fa-solid fa-map-pin"></i> <%= @demonstration.location %>
  </div>
</div>
