<div class="grid_location_time">
  <div class="container_time_place">
  <i class="fa-regular fa-calendar"></i>
    <%= demonstration.start_time%> - <%= demonstration.end_time%>
  </div>
  <div class="container_time_place">
    <i class="fa-solid fa-map-pin"></i> <%= @demonstration.location %>
  </div>
</div>
