<h1>Find a demonstration</h1>

<div class="wrapper-index" data-controller="search-demonstrations">

    <%= form_with url: demonstrations_path, method: :get, html: {class:
      "mb-4", data: {search_demonstrations_target: "form"}} do |f| %>
      <%= f.text_field :query,
                      class: "form-control",
                      placeholder: "Type a demonstration name",
                      value: params[:query],
                      data: {
                              search_demonstrations_target: "input",
                              action: "keyup->search-demonstrations#update"
                            } %>
      <% end %>
    <%= render "demonstrations/filter_demonstration", types: @types, topics: @topics%>
    <%= render "demonstrations/list_demonstrations", demonstrations: @demonstrations%>
  </div>
