<h1>Your saved demonstrations below..</h1>




<h2>Upcoming demonstrations below..</h2>

<% @demonstrations.each do |demonstraion|%>
<p><%= demonstraion.start_time > (Time.now - 1.day) %></p>
<%end%>
