<h1>Your saved demonstrations below..</h1>




<h2>Upcoming demonstrations below..</h2>

<% @demo[0..4].each do |demo|%>
<p class = "card"> The name is <%= demo.title%> and start date is <%= demo.start_time%>
<%end%>
