.primary_button_active {
  background: var(--m-3-sys-light-surface-container-low, #F7F2FA);
  /* M3/Elevation Light/2 */
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  color: var(--m-3-sys-light-primary, #6750A4);
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
}

.primary_button_inactive {
  background-color: white;
  border: 1px solid var(--m-3-sys-light-outline, #79747E);
  border-radius: 100px;
  color: var(--m-3-sys-light-primary, #6750A4);
  padding: 10px 20px;
}


.button_see_all {
color: #49454F;
text-align: center;
padding: 4px 12px;
border-radius: 30px;
border: 1px solid var(--m-3-sys-dark-outline, #938F99);
// h5 {
// font-size: 10px;
// }
}

.button_see_all:hover {
  opacity: 0.5;
  }
