.primary_button_active {
  background: var(--m-3-sys-light-surface-container-low, #49454F);
  /* M3/Elevation Light/2 */
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.15);
  color: var(--m-3-sys-light-primary, white);
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  font-weight: 500;
}

.primary_button_inactive {
  background-color: white;
  border: 1px solid var(--m-3-sys-light-outline, #79747E);
  border-radius: 100px;
  color: var(--m-3-sys-light-primary, width);
  padding: 10px 20px;
  font-weight: 500;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.15);
}

.clickable {
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.15);
}

.button_see_all {
// color: #49454F;
color: var(--m-3-sys-light-primary, width);
background-color: white;
box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.15);
text-align: center;
padding: 4px 12px;
border-radius: 30px;
border: 1px solid var(--m-3-sys-dark-outline, #938F99);
margin-top: 6px;
// h5 {
// font-size: 10px;
// }
}

.button_see_all:hover {
  opacity: 0.5;
  }

#delete_button {
  color: red;
  border: 1px solid var(--m-3-sys-light-outline, red);
}

.container-extra-info {
  padding-top: 2%;
  padding-bottom: 2%;
}
