.container_new_demo {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 16px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  border-radius: 15px;
  gap: 16px;
  flex: 1 0 0;
}

.container_top_new_demo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  gap: 16px;
  width: 100%;
  flex: 1 0 0;
  height: 80px;
  width: 100%;
}

.labels_new_demo {
  gap: 8px;
  row-gap: 8px;
  column-gap: 8px;
 // make this horizontally scrollable
}
