// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "big-card";
@import "container-title";
@import "root";
@import "labels";
@import "map";
@import "buttons";
@import "card_joined_demo";
@import "card_new_demo";
@import "filter_search";
@import "card_participants";

.container-description {
  padding: 2%;
  display: flex;
}

.container-button{
  padding: 2%;
  display: flex;
}
