.label_inactive {
  padding: 6px 12px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid var(--m-3-sys-dark-outline, #938F99);
}

.type_color {
  background-color: black;
  border: none;
  color: white;
}

.technology_color {
  background-color: #67ABE0;
  border: none;
  color: white;
}

.feminism_color {
  background-color: #FB8C8E;
  border: none;
  color: white;
}

.education_color {
  background-color: #FBDC93;
  border: none;
  color: white;
}
.freedom_color{
  background-color: #D3F8E2;
  border: none;
  color: black;
}
.alternative-lifestyle_color {
  background-color: #FCB38F;
  border: none;
  color: white;
}
.war_color{
  background-color: #97081FAB;
  border: none;
  color: white;
}
.climate_color {
  background-color: #87CFB9;
  border: none;
  color: white;
}
.discrimination_color {
  background-color: #9B91C8;
  border: none;
  color: white;
}
.LGTBQ_color {
  background-color: #B5179EA1;
  border: none;
  color: white;
}
.anti-government_color {
  background-color: #CB0A2AA1;
  border: none;
  color: white;
}
.public-space_color {
  background-color: #F3D5B5;
  border: none;
  color: white;
}
.other_color {
  background-color: #C0C0C0;
  border: none;
  color: white;
}
