.label_inactive {
  padding: 6px 12px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid var(--m-3-sys-dark-outline, #938F99);
}

.label_active_pink {
  background-color: #FE4DC1;
  border: none;
  color: white;
}

.label_active_light_blue {
  background-color: #9BB8CD;
  border: none;
  color: white;
}

.color_lgtbq {
  background-color: #7ED7C1;
  border: none;
  color: white;
}
.label_active_light_yellow {
  background-color: #F0DBAF;
  border: none;
  color: black;
}
.label_active_light_red {
  background-color: #DC8686;
  border: none;
  color: white;
}
.label_active_light_purple {
  background-color: #D0BFFF;
  border: none;
  color: white;
}
.color_climate {
  background-color: #94A684;
  border: none;
  color: white;
}
.label_active_baby_blue {
  background-color: #92C2FD;
  border: none;
  color: white;
}
.label_active_dark_green {
  background-color: #116A7B;
  border: none;
  color: white;
}
.label_active_forest_green {
  background-color: #B6E2A1;
  border: none;
  color: white;
}
.label_active_light_brown {
  background-color: #E1D4BB;
  border: none;
  color: white;
}
.label_active_bright_yellow {
  background-color: #FFD966;
  border: none;
  color: white;
}
.label_active_dark_purple {
  background-color: #7F669D;
  border: none;
  color: white;
}
