.label_inactive {
  padding: 6px 12px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid var(--m-3-sys-dark-outline, #938F99);
}

.color_freedom {
  background-color: #FE4DC1;
  border: none;
  color: white;
}

.label_active_light_blue {
  background-color: #9BB8CD;
  border: none;
  color: white;
}

.color_lgbtq {
  background-color: #7ED7C1;
  border: none;
  color: white;
}
.color_racism {
  background-color: #F0DBAF;
  border: none;
  color: black;
}
.color_war {
  background-color: #DC8686;
  border: none;
  color: white;
}
.color_education {
  background-color: #D0BFFF;
  border: none;
  color: white;
}
.color_climate {
  background-color: #94A684;
  border: none;
  color: white;
}
.color_legislation {
  background-color: #92C2FD;
  border: none;
  color: white;
}
.color_enviorment {
  background-color: #116A7B;
  border: none;
  color: white;
}
.color_bike {
  background-color: #B6E2A1;
  border: none;
  color: white;
}
.color_speech {
  background-color: #E1D4BB;
  border: none;
  color: white;
}
.color_march {
  background-color: #FFD966;
  border: none;
  color: white;
}
.color_sitin {
  background-color: #7F669D;
  border: none;
  color: white;
}
