.container_place {
    border-radius: 8px;
    border: 1px solid var(--m-3-sys-dark-outline, #938F99);
    margin-left: 0px;
    height: fit content;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .container_time {
    border-radius: 8px;
    border: 1px solid var(--m-3-sys-dark-outline, #938F99);
    margin-left: 0px;
    height: fit content;
    align-items: center;
    display: flex;
    justify-content: start;
    padding: 10px;
  }



   .fa-map-pin  {
    font-size: 25px;
    margin: 10px;
  }

  .fa-calendar {
    font-size: 25px;
    margin: 10px;
  }

  .fa-note-sticky {
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--m-3-sys-dark-outline, #938F99);
    border-radius: 8px;
    background-color: white;
  }
