.container_profile_details {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.topic_type{
  display: flex;
  justify-content: space-between;
  
  p{
    margin: 0;
    margin-right: 5px;
  }
}

.user_description{
  margin: 10px;
  margin-right: 10px;

  p{
    margin: 0;
    margin-right: 5px;
  }
}
.flex_box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 3px;
}
.profile_buttons{
  padding: 10px;
}
.profie_details{
  display: flex;
}
